#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  color: aqua;
}

.tetris-board {
  display: flex;
}

.tetris-cell {
  width: 40px;
  height: 40px;
  border: 1px solid white;
}

.tetris-cell__empty {
  background-color: black;
}

.tetris-cell__el {
  background-color: blue;
}

.tetris-cell__es {
  background-color: green;
}

.tetris-cell__ti {
  background-color: orange;
}

.tetris-cell__square {
  background-color: cyan;
}

.tetris-cell__stick {
  background-color: red;
}

.tetris-cell__stuck {
  background-color: red;
}
